@import url('/base-styles.css');

.faq-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.faq-item {
    margin-bottom: 1.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
}

.faq-question {
    background-color: #f5f5f5;
    padding: 1rem;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question::after {
    content: '+';
    font-size: 1.5rem;
}

.faq-question.active::after {
    content: '-';
}

.faq-answer {
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease;
}

.faq-answer.active {
    padding: 1rem 1rem 6rem; 
    max-height: 1000px;
}


/* Responsive design */
@media (max-width: 768px) {
    .faq-container {
        padding: 0 0.5rem;
    }

    .faq-question {
        font-size: 0.9rem;
    }

    .faq-answer {
        font-size: 0.8rem;
    }
}
